html {
	background-color: #3272B2;
}

body {
	background-color: #FFFFFF;
	margin-left: 4em;
	margin-right: 4em;
	padding: 2em;
	border-radius: 0.15em;
	font-family: 'Roboto', serif;
	-webkit-box-shadow: 13px 0px 80px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 0px 80px -23px rgba(0,0,0,0.75);
	box-shadow: 13px 0px 80px -23px rgba(0,0,0,0.75);
}

header a {
	margin-top: 1em;
	font-size: 1.2em;
	color: #B0574B;
	text-decoration: none;
}

footer a {
	color: #B0574B;
	text-decoration: none;
	padding-bottom: 1em;
}

header {
	margin-top: 1em;
	margin-left: 23%;
}

img {
	margin-left: 27%;
	margin-right: auto;
}

p {
	color: #142F57;
	margin-bottom: 1.1em;

}

h1 {
	border-color: #142F57;
	margin-top: 2em;
	color: #000D1A;
}
